trunk/g10ws2.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RegionalSettings">
        <s:complexType/>
      </s:element>
      <s:element name="string" nillable="true" type="s:string"/>
      <s:element name="base64Binary" nillable="true" type="s:base64Binary"/>
      <s:element name="g10GeoPoint" nillable="true" type="tns:g10GeoPoint"/>
      <s:element name="boolean" type="s:boolean"/>
      <s:element name="mtdReferenceSystemInfo" nillable="true" type="tns:mtdReferenceSystemInfo"/>
      <s:element name="g10MapView" nillable="true" type="tns:g10MapView"/>
      <s:element name="g10MapLayerSet" nillable="true" type="tns:g10MapLayerSet"/>
      <s:element name="g10GeoCollection" nillable="true" type="tns:g10GeoCollection"/>
      <s:element name="g10GeoRectangle" nillable="true" type="tns:g10GeoRectangle"/>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegionalSettingsSoapIn">
    <wsdl:part name="parameters" element="tns:RegionalSettings"/>
  </wsdl:message>
  <wsdl:portType name="ws_dicofreSoap">
    <wsdl:operation name="RegionalSettings">
      <wsdl:input message="tns:RegionalSettingsSoapIn"/>
      <wsdl:output message="tns:RegionalSettingsSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ws_dicofre">
    <wsdl:port name="ws_dicofreSoap" binding="tns:ws_dicofreSoap">
      <soap:address location="http://g10.phinformatica.pt/g10ws/g10ws.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
